:root {
    --color_primary: #FFFFFF;
    --color_texts: #888888;
    --color_secondary:#707070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    background: var(--color_primary);

}

/* #############

     HEADER

###############*/

.main .header {
    height: 380px;
    background: rgb(255,255,255);
    background: linear-gradient(5deg, rgba(255,255,255,1) 35%, rgba(112,112,112,1) 35%);
    color: var(--color_primary);
    display: flex;
    padding: 40px 0 20px 0;
    flex-direction: column;
}

/* TEXTS */

.main .header .head_texts {
    display: block;
    margin-bottom: 30px;
}
.main .header .head_texts span, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .header .head_texts .span_1{
    height: 23px;
    font-weight: 12px;
}

.main .header .head_texts .span_2 {
    height: 16px;
    font-weight: 14px;
    font-size: 12px;
}

.main .header .head_texts h1 {
    height: 48px;
    margin-bottom: 15px;
}


/* BUTTONS*/

.main .header .head_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 20px;
}

.main .header .head_buttons .head_button {
    height: 30px;
    width: 120px;
    font-size: 10px;
    padding: 5px;
    margin: 0 20px 0 20px;
    color: var(--color_texts);
    border-radius: 10%;
    background-color: var(--color_primary);
    box-shadow: 1px 1px black;
}


/* #############

  FORMULARY PAGE

###############*/

.form_page {
    height: 40vh;
    background: var(--color_primary);
    color: var(--color_texts);
    display: flex;
    padding: 0 250px 0 250px;
}
/* TEXTS */
.form_page .form_texts{
    width: 60%;
    font-size: 12px;
    font-weight: lighter;
}

.form_page .form_texts .form_title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.form_page .form_texts .lorem {
    font-weight: 100;
    color: var(--color_texts);
    font-family: Helvetica;
    font-size: 12px;
}

/* FORM */

.form_page .form_input {
    padding: 0 0 0 100px;
}

.form_page .form_input .form_label {
    display: flex;
    margin: 10px auto 5px auto;
    font-size: 12px;
}

.form_page .form_input .form_button {
    background-color: var(--color_primary);
    display: flex;
    padding: 10px;
    border-radius: 4px;
    width: 340px;
    height: 40px;
    justify-content: center;
    color: var(--color_texts);
    
}

.form_page .form_input .form_box {
    height: 30px;
    width: 340px;
    padding: 3px;
    color: var(--color_texts);
}

.form_page .form_input .form_radio {
    display: flex;
    padding: 15px 0 10px 0 ;
}

.form_page .form_input .form_radio .form_radio1 {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.form_page .form_input .form_radio .form_radio2 {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-left: 40px;
}

.form_page .form_input .form_radio .radio_span {
    font-size: 12px;
}

/* #############

  PRODUCTS PAGE

###############*/

.products_page {
    display: block;
    height: 50vh;
    color: var(--color_texts);
}

/* #############

    SHARE PAGE

###############*/

.share_page {
    height: 50vh;
    color: var(--color_texts);
}

/* #############

      FOOTER  

###############*/

.footer {
    height: 20vh;
    background: var(--color_secondary);
    color: var(--color_primary);
}